@font-face {
  font-family: "AdobeCleanUX_bold";
  src: url(/adobeClean/AdobeCleanUXBold.otf);
}

@font-face {
  font-family: "AdobeCleanUX_regular";
  src: url(/adobeClean/AdobeCleanUXRegular.otf);
}

@font-face {
  font-family: "AdobeCleanUX_light";
  src: url(/adobeClean/AdobeCleanUXLight.otf);
}

@font-face {
  font-family: "AdobeCleanUX_medium";
  src: url(/adobeClean/AdobeCleanUXMedium.otf);
}
