@use "../abstracts" as abs;

.portfolio-section {
  background-color: abs.$gray5;
  color: abs.$gray1;
}

.portfolio-container {
  @include abs.wrapper();
  background-color: abs.$gray4;
  // max-width: abs.rem(1200);
  // max-width: 1200px;
  // margin: 0 auto;
  &:focus-within {
    // border: 2px solid abs.$l-blue;
    outline: 2px solid abs.$l-blue;
  }
  // &:hover {
  //   border: 2px solid abs.$l-blue;
  // }
}

.portfolio-title {
  background-color: abs.$gray4;
  display: inline-flex;
  // align-self: flex-start;
  // flex-grow: 0;
  align-items: baseline;
  border-bottom: abs.rem(2) solid abs.$gray1;
  // border-radius: abs.rem(5) abs.rem(5) 0 0;
  margin: abs.rem(10) 0 abs.rem(13) abs.rem(22);

  &__lable {
    @include abs.square(18);
    background-color: abs.$gray1;
    margin-right: abs.rem(15.5);
  }

  &__title {
    font-size: abs.rem(26);
  }

  &__img {
    margin: 0 abs.rem(15.5);

    &--cros {
      margin-right: abs.rem(15.5);
    }

    &--hamb {
      margin-left: abs.rem(15.5);
    }
  }
}

.portfolio-subtitle {
  display: flex;
}

.hud {
  @include abs.size(6);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // padding-left: abs.rem(24);
  // padding-bottom: abs.rem(12);
  overflow: hidden;
}

.hud-controls {
  // @include abs.row-flex();
  display: flex;
  overflow-wrap: normal;
  align-items: center;
  padding-left: abs.rem(24);
  margin-bottom: abs.rem(5);

  &__time {
    text-align: center;
  }

  &__totaltime {
    font-family: AdobeCleanUX_bold;
    font-size: abs.rem(25);
    color: abs.$l-blue;
    line-height: 1;
  }

  &__totalworks {
    font-size: abs.rem(15);
    color: abs.$d-blue;
    line-height: 1;
  }

  &__search {
    display: inline-flex;
    flex-grow: 1;
    margin-left: abs.rem(20);
    // align-items: center;

    @include abs.xs-block() {
      display: none;
    }

    &::before {
      content: url("../footages/potfSection/searchicon.svg");
      background-color: abs.$gray5;
      border: 1px solid #4e4e4e;
      border-right: none;
      border-top-left-radius: abs.rem(5);
      border-bottom-left-radius: abs.rem(5);
      padding: abs.rem(2);
      padding-right: 0;
    }
    & input {
      background-color: abs.$gray5;
      border: 1px solid #4e4e4e;
      border-left: none;
      border-top-right-radius: abs.rem(5);
      border-bottom-right-radius: abs.rem(5);
      color: abs.$gray1;
      padding: abs.rem(2);
      width: 100%;
      min-width: abs.rem(50);
      &:focus {
        outline: none;
      }
    }
  }

  &__buttons {
    margin-left: abs.rem(20);

    @include abs.xs-block() {
      display: none;
    }

    & ul {
      display: flex;

      & li {
        margin-right: abs.rem(10);

        & img {
          @include abs.square(25);
          max-width: none;
        }
      }
    }
  }
}

.bars {
  @include abs.size(6);
  // margin-right: abs.rem(15);
  border: 1px solid #000;
  border-top-left-radius: abs.rem(15);
  overflow: hidden;
  align-items: center;
  // padding-left: abs.rem(5);
  &__scale {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    // background-color: abs.$gray1;
    height: abs.rem(7);
    // padding: 0 abs.rem(8);
    // border: 1px solid abs.$gray5;
    &::before {
      content: "";
      width: abs.rem(8);
      // height: abs.rem(10);
      background-color: abs.$l-blue;
      border-top-left-radius: abs.rem(3);
      border-bottom-left-radius: abs.rem(3);
      border: 1px solid abs.$gray5;
      height: inherit;
    }

    &::after {
      content: "";
      width: abs.rem(8);
      // height: abs.rem(10);
      background-color: abs.$l-blue;
      border-top-right-radius: abs.rem(3);
      border-bottom-right-radius: abs.rem(3);
      border: 1px solid abs.$gray5;
      height: inherit;
    }
  }
  &__bar {
    background-color: #666;
    width: 100%;
    height: inherit;
    border: 1px solid #000;
  }

  &__time {
    // padding: 0 abs.rem(7);
    & ul {
      display: flex;
      justify-content: space-between;

      & li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        &:first-child {
          & .bars__lines {
            height: abs.rem(18);
          }
        }

        &:nth-child(2n) {
          @include abs.md-block() {
            display: none;
          }
        }

        &:nth-child(3n) {
          @include abs.xs-block() {
            display: none;
          }
        }
      }
    }
  }
  &__lines {
    background-color: abs.$gray1;
    width: 2px;
    height: abs.rem(10);
    margin-top: auto;
  }

  &__workarea {
    @extend .bars__scale;
    height: abs.rem(25);
    margin-bottom: abs.rem(5);
  }
}

.hud-header {
  background-color: #333;
  border-top: 2px solid abs.$gray5;
  border-bottom: 1px solid abs.$gray5;
  display: flex;
  padding: abs.rem(3) 0 abs.rem(3) abs.rem(12);
  font-family: "AdobeCleanUX_light";

  &__toggleicons {
    display: flex;
    align-items: center;
    border-right: 2px solid #000;
    padding-right: abs.rem(5);
    @include abs.xs-block() {
      display: none;
    }
    & ul {
      display: flex;

      & li {
        @include abs.square(20);
        display: flex;
        margin-right: abs.rem(2);
        justify-content: center;

        // &:nth-child(1) {
        //   & img {
        //     width: abs.rem(15);
        //   }
        // }

        &:nth-child(3) {
          & img {
            width: abs.rem(11);
          }
        }

        & img {
          width: abs.rem(15);
          max-width: none;
        }
      }
    }
  }

  &__lable {
    display: flex;
    padding: 0 abs.rem(10) 0 abs.rem(15);
    border-right: 2px solid #000;
    align-items: center;
    & img {
      width: abs.rem(14);
      max-width: none;
    }
    @include abs.sm-block() {
      display: none;
    }
  }

  &__number {
    display: flex;
    padding: 0 abs.rem(10) 0 abs.rem(5);
    border-right: 2px solid #000;
    align-items: center;
    // @include abs.sm-block() {
    //   display: none;
    // }
  }

  &__name {
    display: flex;
    flex-grow: 1;
    padding: 0 abs.rem(5);
    border-right: 2px solid #000;
    overflow: hidden;
    align-items: center;
  }

  &__trkmat {
    display: flex;
    border-right: 2px solid #000;
    padding: 0 abs.rem(5);
    margin-right: abs.rem(10);
    overflow: hidden;
    flex-shrink: 0;
    @include abs.md-block() {
      display: none;
    }
  }
}

.portfLayer {
  display: flex;
  // height: abs.rem(26);
  border-bottom: 1px solid #262626;
  flex-wrap: wrap;

  .portfLayer-left {
    @extend .hud;
    flex-direction: row;
    background-color: #303030;
    padding: abs.rem(1) 0;
    &__toggleicons {
      @extend .hud-header__toggleicons;
      padding-left: abs.rem(12);
      border: none;
      & ul {
        & li {
          background-color: #222;

          & input {
            display: none;
          }

          & input:checked ~ label {
            & img {
              display: none;
            }
          }
          & label {
            @include abs.square(20);
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
    &__layer-button {
      display: flex;
      // margin-right: auto;
      cursor: pointer;
      width: 100%;
    }
    &__lable {
      @extend .hud-header__lable;
      // margin: 0;
      padding: 0;
      border: none;
      & img {
        width: abs.rem(7);
        padding: 0 abs.rem(7);
        transform: rotate(0deg);
        transition: 1s ease-in-out;
      }
    }
    &__lable-item {
      // @extend .portfolio-title__lable;
      @include abs.square(18);
      background-color: #a9ccc8;
    }
    &__number {
      @extend .hud-header__number;
      border: none;
      & p {
        margin-right: auto;
        @include abs.xs-block() {
          padding-left: abs.rem(8);
        }
      }
    }
    &__name {
      @extend .hud-header__name;
      font-family: "adobecleanux_medium";
      font-size: abs.rem(18);
      // overflow: hidden;
      & img {
        height: abs.rem(20);
        max-width: none;
        margin-right: abs.rem(5);
      }
      & p {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        padding-left: abs.rem(5);

        &::before {
          content: "[";
        }

        &::after {
          content: "]";
        }
      }
      border: none;
    }

    &__trkmat {
      @extend .hud-header__trkmat;
      border: none;
      justify-content: space-between;
      align-items: center;

      & img {
        margin-right: abs.rem(8);
      }

      & select {
        // background-color: #ff0;
        background-color: #1c1c1c;
        border: none;
        border-radius: 0;
        color: abs.$gray1;
        font-family: "AdobeCleanUX_light";
        height: fit-content;
        max-width: abs.rem(60);

        & option {
          background-color: #f2f2f2;
          color: #000;
          font-family: inherit;
        }
      }
    }
  }

  .portfLayer-right {
    @extend .bars;
    border-radius: 0;
    border: 0;
    border-left: 1px solid #000;
    &__barbg {
      @extend .bars__scale;
      background-color: #303030;
      height: 100%;
      border: 0;
      &::before {
        background: none;
        border: none;
      }

      &::after {
        background: none;
        border: none;
      }
    }

    &__bar {
      @extend .bars__bar;
      background-color: abs.$aqua-layer;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: abs.rem(2);
      height: auto;
    }
  }

  & .expand {
    display: flex;

    max-height: 0vh;
    transition: max-height 1s ease-in-out;

    // width: 100%;

    &__left {
      @extend .hud;
      font-family: "adobecleanux_regular";
      font-size: abs.rem(18);
      justify-content: flex-start;
      // padding-left: abs.rem(130);
    }

    &__title {
      cursor: pointer;
      padding-left: abs.rem(130);

      @include abs.md-block() {
        padding-left: abs.rem(15);
      }

      & img {
        transform: rotate(0deg);
        transition: 1s ease-in-out;
      }

      &.expd {
        & img {
          transform: rotate(90deg);
          transition: 1s ease-in-out;
        }
      }

      &.expd ~ .expand__descr {
        max-height: 50vh;
        transition: 1s ease-in-out;
      }
    }

    &__descr {
      padding-left: abs.rem(155);
      padding-right: abs.rem(15);
      font-family: "adobecleanux_light";
      font-size: abs.rem(15);
      max-height: 0vh;
      transition: 1s ease-in-out;
      overflow: hidden;
      @include abs.md-block() {
        padding-left: abs.rem(45);
      }
    }

    &__right {
      @extend .bars;
      border-radius: 0;
      border: none;
    }
  }
}

.active {
  &.portfLayer {
    .portfLayer-left {
      background-color: abs.$gray3;

      &__toggleicons {
        & ul {
          & li {
            background-color: #323232;
          }
        }
      }

      &__lable {
        & img {
          transform: rotate(90deg);
          transition: 1s ease-in-out;
        }
      }

      &__name {
        & p {
          background-color: abs.$gray1;
          color: abs.$gray5;
        }
      }
    }
    .portfLayer-right {
      &__barbg {
        background-color: abs.$gray3;
      }

      &__bar {
        background: abs.$aqua-layer-sel;
        border-top: 1px solid #fff;
        border-left: 1px solid #fff;
      }
    }

    .expand {
      max-height: 50vh;
      transition: max-height 1s ease-in-out;
      &__left {
        justify-content: flex-start;
      }
    }
  }
}
